/* Reset styles */
/* font-family: 'DM Sans', sans-serif;
font-family: 'DM Serif Display', serif;
font-family: 'Playfair Display', serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    z-index: 1;
    text-decoration: none;
  }
  *:visited {
    text-decoration: none;
  }

  .excl{
    position: fixed;
    height: 80px;
    width: 20vw;
    background-color: white;
    mix-blend-mode: exclusion;
    z-index: 99999;
    pointer-events: none;
  }
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23aa92ac' fill-opacity='0.14'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  }
/* Header styles */
header {
    font-family: 'DM Serif Display';
    font-style: normal;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .header-logo p {
    margin-left: 3vw;
    margin-right: 3vw;
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 48px;
    z-index: 99999;
    user-select: none;
    pointer-events: none;
  }

  nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a li {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a li:hover {
    color: #ffc107;
  }
  
  .header-line {
    width: 90%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #000;
  }
  
  /* Hero section styles */


  .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 856px;
    background-color: #171718;
    padding: 0 100px;
  }
  
  .hero-image img {
    transition: 0.5s;
    height: 862px;
    overflow: hidden;
    z-index: 33 !important;
    /* margin-left: 3vw; */
  }

  .headerr{
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #000;
  }

  .ssr {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    color: white;
    transform: rotate(90deg) translate(0,66%);
    user-select: none;
    z-index: 1;
    margin-left: 106px;
    margin-top: 244px;
  }

  .hero:hover .hero-rating {
    transform: scale(1.15) translate(0,-16px);
    opacity: 100;
  }

  .hero:hover .hero-image img {
    transform: scale(1.05) translateY(-21px);
  }

  .hero-rating {
    display: flex;
    position: absolute;
    font-size: 56px;
    opacity: 0;
    transition: 0.5s;
    user-select: none;
    justify-content: center;
    word-wrap: normal;
  }
  
  .star {
    mix-blend-mode:color-dodge;
text-shadow: 0px 0px 1674.54px #FFBB00, 0px 0px 956.88px #FFBB00, 0px 0px 558.18px #FFBB00, 0px 0px   279.09px #FFBB00, 0px 0px 79.74px #FFBB00, 0px 0px 39.87px #FFBB00;
    color: #ffc107;
    font-size: 36px;
    margin-right: 10px;
  }

  .stars {
    color: #ffc107;
    font-size: 36px;
    margin-right: 10px;
  }

  .disclaimer h3 {
    margin-top: 24px;
    margin-bottom: 24px;
    background: linear-gradient(180deg, #4E95FF 12.93%, #A67CFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    line-height: 56px;
    font-family: 'Playfair Display', serif;
    text-align: center;
  }

  .testimonialss h3 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 32px;
    color: black;
    line-height: 56px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    user-select: none;
  }

  .soop {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 116px;
    /* identical to box height */
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
  }

  .hero-text {
    scale: 0.8;
    max-height: 50vh;
    max-width: 600px;
    /* margin-right: 15vw; */
  }
  
  .hero-text h4 {
    font-size: 48px;
    margin-top: 20px;
    background: linear-gradient(180deg, #DD3838 13.16%, #E19E4F 23.11%, #E48963 35.77%, #E77675 48.44%, #EA6486 59.29%, #ED5297 69.7%, #F13EAA 81.91%, #F330B7 90.05%, #F520C6 100%);
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
  }
  .hero-text h4:hover {
    background: linear-gradient(100deg, #DD3838 13.16%, #E19E4F 23.11%, #E48963 35.77%, #E77675 48.44%, #EA6486 59.29%, #ED5297 69.7%, #F13EAA 81.91%, #F330B7 90.05%, #F520C6 100%);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    transition: 3s;
  }
  .hero-text h1 {
    font-size: 48px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 48px;
    font-family: 'DM Serif Display';
    font-style: normal;
    color: white;
    text-align: center;
    margin-bottom: 40px;
  }

  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-left: 50%;
    padding: 7px;
    scale: 1.33;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  
  /* Products section styles */
  .products {
    padding: 100px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23aa92ac' fill-opacity='0.14'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  }
  
  .rect1{
    display: flex;
    position: absolute;
    width: 35vw;
    height: 300px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 0, 168, 0.45);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  }
  .rect2{
    display: flex;
    position: absolute;
    width: 30vw;
    height: 300px;
    justify-content: center;
    align-items: center;
    background: #ffc800;
    transform: translate(0,12%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  }
  .rect3{
    display: flex;
    position: absolute;
    width: 35vw;
    height: 300px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 184, 0, 0.45);
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  }
  .rect4{
    display: flex;
    position: absolute;
    width: 30vw;
    height: 300px;
    justify-content: center;
    align-items: center;
    background: #FF93DA;
    transform: translate(0,12%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  }
  .rect5{
    display: flex;
    position: absolute;
    width: 35vw;
    height: 300px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 0, 0, 0.45);    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  }
  .rect6{
    display: flex;
    position: absolute;
    width: 30vw;
    height: 300px;
    justify-content: center;
    align-items: center;
    background: #CC8CFF;
    transform: translate(0,12%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  }
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .p1{
    transform: scale(0.5) translate(0,-20%);
    width: 30vw;
    height: 100%;
    z-index: 999;
    transition: 0.3s;
  }
  .p1:hover {
    transform: scale(0.55) rotate(5deg) translate(0,-20%);
  }
  .p2{
    transform: scale(0.55) translate(5%,-5%);
    width: 30vw;
    height: 100%;
    z-index: 999;
    transition: 0.3s;
  }
  .p2:hover {
    transform: scale(0.6) rotate(-5deg) translate(5%,-5%);
  }
  .p3{
    transform: scale(0.6) translate(0,-10%);
    width: 30vw;
    height: 100%;
    z-index: 999;
    transition: 0.3s;
  }
  .p3:hover {
    transform: scale(0.65) rotate(-3deg) translate(0,-10%);
  }
  .product img {
    width: 50vw;
    max-width: 400px;
  }
  
  .starss {
    color: #ffc107;
    font-size: 36px;
    margin-right: 10px;
    z-index: 999;
  }

  .product h2 {
    position: relative;
    background: linear-gradient(180deg, #4E95FF 12.93%, #A67CFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    /* line-height: 16x; */
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 36px;
    /* margin: 33px 0 0 0; */
    z-index: 999;

  }
  
.pastrous{
  margin-top: -10vh;
}
  /* Testimonials section styles */
  .testimonials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    user-select: none;
  }
  
  .testimonial img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
  }
  
  .testimonial blockquote {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
  }
  
  .testimonial cite {
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5vh;
  }

  .testimohr hr {
    margin-top: 4vh;
  }
  .gachabutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    text-decoration: none;

  }
  .gachabutt{
    color: white;
    font-size: 28px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 100px;
    background: linear-gradient(99.19deg, #FF7F09 2.85%, #FF099C 90.44%);
    box-shadow: 0px 11px 12px rgba(8, 53, 56, 0.25);
    border-radius: 88px;
    text-decoration: none;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
  }
  
 /* Footer styles */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    color: #000000;
    padding: 40px 40px;
    border-top: #000;
    list-style: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    list-style-type: none;
  }
  .footer-logo p {
    display: flex;
    justify-content: flex-end;
    margin-right: 10vw;
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 48px;
    user-select: none;
    pointer-events: none;
  }
  
  .coninfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
    /* .phone{
      justify-content: center;
      align-items: center;
    }
    .copyright {
      text-decoration: line-through;
    } */
  footer ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    text-decoration: none;
  }
/*   
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo img {
    height: 50px;
  }
  
  .footer-menu {
    display: flex;
    list-style: none;
  }
  
  .footer-menu li {
    margin: 0 20px;
  }
  
  .footer-menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-menu li a:hover {
    color: #ffc107;
  }
  
  .footer-social {
    display: flex;
  }
  
  .footer-social li {
    margin: 0 10px;
  }
  
  .footer-social li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-social li a:hover {
    color: #ffc107;
  }
  
  .footer-text {
    font-size: 14px;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-menu {
      margin-top: 20px;
    }
  }
   */